body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100%;}
.background-image {
    background-image: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(sn3.1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}

.main {
    width: 80%;
    margin: auto;
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    color: #fff;
}

.logo a {
    text-decoration: none;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
}
.logo img{
    width: 100px;
    height: 100px;
    border-radius: 70%;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.menu {
    display: flex;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
    text-shadow: 2px 2px 2px black;
}
.menu a:hover{
    color: #ff7200;
}

.content {
    text-align: center;
    margin-top: 100px;
    text-align: justify;
    float: left;
    padding: 20px;
    position: relative;
    color:#a2e4b8;
    font-family: sans-serif;
    font-size: 20px;
    text-shadow: 2px 2px 2px black;
}
.image-gallery {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.image-gallery img {
    width: 250px;
    height: 250px;
    border-radius: 30%;
}
.image-gallery img:hover{
    transform: scale(1.3);
    z-index: 2;
    transition: 1s;
}
@media screen and (max-width: 600px){
    .content {
        margin-top: 20px;
        font-size: 15px;
    }

    .image-gallery img {
        width: 60px;
        height: 60px;
    }
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        margin-top: 25px;
        margin-left: 10px;
    }
    .logo img{
        width: 70px;
        height: 70px;
    }

    .menu-icon {
        display: block;
    }

    .menu-icon div {
        width: 30px;
        height: 3px;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.4s;
    }

    .menu-icon.active div:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-icon.active div:nth-child(2) {
        opacity: 0;
    }

    .menu-icon.active div:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .menu.active {
        display: flex;
    }
}
@media screen and (min-width:601px) and (max-width:768px){
    .content {
        margin-top: 30px;
    }

    .image-gallery img {
        width: 150px;
        height: 150px;
    }
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        margin-top: 25px;
        margin-left: 270px;
    }
    .logo img{
        width: 70px;
        height: 70px;
    }

    .menu-icon {
        display: block;
    }

    .menu-icon div {
        width: 40px;
        height: 3px;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.4s;
    }

    .menu-icon.active div:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-icon.active div:nth-child(2) {
        opacity: 0;
    }

    .menu-icon.active div:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .menu.active {
        display: flex;
    }
}
@media screen and (min-width:769px) {
    body, html {
        margin: 0;
        padding: 0;
        font-family: 'Arial', sans-serif;
        height: 100%;
    }
    .content {
        text-align: center;
        margin-top: 100px;
        text-align: justify;
        float: left;
        padding: 20px;
        position: relative;
        color:#a2e4b8;
        font-family: sans-serif;
        font-size: 20px;
        text-shadow: 2px 2px 2px black;
    }

}
